/* @see https://andy-bell.co.uk/a-more-modern-css-reset */

@layer reset {
  @font-face {
    font-family: "baloo";
    src: url("./fonts/baloo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-family: baloo, -apple-system, "Segoe UI", Helvetica Neue, Helvetica,
      Roboto, Arial, sans-serif, system-ui, "Apple Color Emoji",
      "Segoe UI Emoji";
    line-height: 1.5;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul,
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Set core body defaults */
  html,
  body {
    height: 100%;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  textarea,
  select {
    font: inherit;
  }

  button {
    font-family: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Additional customized */
  button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input {
    border: none;
    font: inherit;
  }

  input:focus {
    outline: none;
  }

  a {
    text-decoration: none;
    color: currentColor;
  }
}
